@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;   
  height: 100%;       
  margin: 0;
}

body {
  font-style: bold;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
}


.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  padding: 60px 100px;
  min-height: 100vh;
  background-color:#e1ebed;
 
}

.apresentacao__conteudo {
  max-width: 50%;
  padding: 2% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-16%);
}

.apresentacao__logo {
  width: 100px;
  margin-bottom: 16px;
  position: relative;
  bottom: 2%;
  
}

.apresentacao__texto {
  font-size: 18px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.6;
}

.Título {
  
  font-size: 50px;
  font-weight: 800;
  color: #009999;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  background-color: #1cb5b9;
  color: white;
  padding: 12px 36px; 
  font-size: 18px; 
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;

}

.botoes {
  display: flex;
  gap: 20px;
}

.button:hover {
  background-color: #009270;
}

.apresentacao__imagem {
  max-width: 45%;
  text-align: center;
  
}

.designSenhora {
  width: 38%;
  height: auto;
  border: none;
  outline: none;
  position: relative;
  left: 100px;
  bottom: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;   
  height: 100%;       
  margin: 0;
}

body {
  font-style: bold;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
}


.apresentacao {
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  padding: 60px 100px;
  min-height: 100vh;
  background-color:#e1ebed;
 
}

.apresentacao__conteudo {
  max-width: 60%;
  padding: 10% 4% 4% 4%;
   
  
}

.apresentacao__logo {
  width: 130px;
  margin-bottom: 20px;
  position: relative;
  bottom: 2%;
  
}

.Título {
  
  font-size: 50px;
  font-weight: 800;
  color: #009999;
  margin-bottom: 20px;
}

.apresentacao__texto {
  font-size: 25px;
  color: #333333;
  margin-bottom: 30px;
  line-height: 1.6;
}

.button {
  display: inline-block;
  background-color: #1cb5b9;
  color: white;
  padding: 20px 55px;
  font-size: 25px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;

}

.button:hover {
  background-color: #009270;
}

.apresentacao__imagem {
  max-width: 45%;
  text-align: center;
  
}

.designSenhora {
  width: 38%;
  height: auto;
  border: none;
  outline: none;
  position: relative;
  left: 100px;
  bottom: 80px;
}