<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Saúde</title>
  <link rel="stylesheet" href="../static/css/login.css" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <main class="container">
    <section class="image">
      <img src="../static/imagens/roboLogo.jpg" alt="Robô médico" />
    </section>
    <section class="form-section">
      <div class="form-box">
        <h1>Entre em sua conta</h1>
          <form>
            <label for="email">Email</label>
              <input type="email" id="email" name="email" required placeholder="Digite seu email" />

              <label for="password">Senha</label> 
              <input type="password" id="password" name="password" required placeholder="Digite uma senha" />

              <button type="submit" class="submit-btn">Entrar</button>
              <p class="login-text">Não possui uma conta? <a href="cadastro.html">Faça Cadastro</a></p>

              </button>
          </form>
      </div>
    </section>

  </main>
</body>
</html>
