<!DOCTYPE html>
<html lang = "pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Tela Inicial</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body>

        <header class = "menu">
            <nav></nav>
        </header>

        <main class = "apresentacao">
            <section class = "apresentacao__conteudo">
                <img class = "apresentacao__logo" src = "../static/imagens/logozen.png" alt = "Logo SaúdeZen">
                <h1 class = "Título" >Excelência em saúde, na sua casa</h1>

                <p class = "apresentacao__texto" >Conheça os benefícios e as inúmeras possibilidades de dicas e desafios específicos que o Chat bot para o whatsapp oferece com segurança e carinho.</p>

                <a class = "button"  href="cadastro.html" width = "50px" height = "25px" >Conheça o SaúdeZen</a>
            </section>
            
            <img class = "designSenhora" src = "../static/imagens/senhora.png" alt="Imagem Senhora">
        </main>

    </body>
</html> 
